{% extends 'base.html.twig' %}
{% block title %}
    Programs - Media Manager
{% endblock %}
{% block body %}
    <div class="container row">
        <div class="columns large-12 medium-12 small-12">
            <div class="primary-content">
                <h1 class="content-title">Programs Available For {{ worksheet.name }}</h1>
                <div class="row">
                    <div class="columns large-12 medium-12 small-12">
                        <div class="form-wrapper">
                            <form action="/campaigns/worksheets/programs/{{ worksheet.id }}/add" method="post" class="worksheet-form" id="worksheet-form">
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="program_name">Program Name *
                                            <input type="text" class="form-control program-name" id="program-name" name="program_name"/>
                                        </label>
                                    </div>
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="day_part">Day Part *
                                            <input type="text" class="form-control day-part" id="day-part" name="day_part" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="station">Station *
                                            <input type="text" class="station form-control" id="station" name="station" />
                                        </label>
                                    </div>
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="network">Network *
                                            <input type="text" class="form-control network" id="network" name="network" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="program">Running Program *
                                            <input type="text" class="form-control program" id="program" name="program" />
                                        </label>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="columns large-12 medium-12 small-12">
                                        <label for="running_days">What Days Are The Spots Running *</label>
                                        <div class="input-group">
                                            <label for="monday">Monday
                                                <input type="checkbox" class="monday" id="monday" name="monday" />
                                            </label>
                                            <label for="tuesday">tuesday
                                                <input type="checkbox" class="tuesday" id="tuesday" name="tuesday" />
                                            </label>
                                            <label for="wednesday">wednesday
                                                <input type="checkbox" class="wednesday" id="wednesday" name="wednesday" />
                                            </label>
                                            <label for="thursday">thursday
                                                <input type="checkbox" class="thursday" id="thursday" name="thursday" />
                                            </label>
                                            <label for="friday">friday
                                                <input type="checkbox" class="friday" id="friday" name="friday" />
                                            </label>
                                            <label for="saturday">saturday
                                                <input type="checkbox" class="saturday" id="saturday" name="saturday" />
                                            </label>
                                            <label for="sunday">sunday
                                                <input type="checkbox" class="sunday" id="sunday" name="sunday" />
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="start_time">Spot Start Time *
                                            <input type="text" class="start-time form-control" id="start-time" name="start_time" />
                                        </label>
                                    </div>
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="end_time">Spot End Time *
                                            <input type="text" class="end-time form-control" id="end-time" name="end_time" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="spot_length">Spot Length (seconds) *
                                            <input type="number" class="spot-length form-control" id="spot-length" name="spot_length" />
                                        </label>
                                    </div>
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="spot_rate">Spot Rate *
                                            <input type="number" class="spot-rate form-control" id="spot-rate" name="spot_rate" step="0.01" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="break_code">Break Code *
                                            <input type="text" class="break-code form-control" id="break-code" name="break_code" />
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="columns large-12 medium-12 small-12">
                                        <label for="comments">Comments *
                                            <textarea name="comments" id="comments" cols="30" rows="10" class="form-control comments"></textarea>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="column large-12 medium-12 small-12">
                                        <input type="submit" class="submit form-button" id="submit" value="Add New Program"
                                               name="submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="current-programs">
                            {% if programs is empty %}
                                <p>There are currently no programs for {{ worksheet.name }}. Add a new one below.</p>
                            {% else %}
                                <ul>
                                    <li class="headings">
                                        <div class="info">
                                            <span class="program-name">Program Name</span>
                                            <span class="day-part">Day Part</span>
                                            <span class="station">Station</span>
                                            <span class="network">Network</span>
                                            <span class="program">Running</span>
                                            <span class="times">
                                                    <span class="start-time">Start Time</span>
                                                    <span class="divider"></span>
                                                    <span class="endtime">End Time</span>
                                                </span>
                                            <span class="length">Length</span>
                                            <span class="rate">Rate</span>
                                        </div>
                                        <div class="actions">
                                            <a href="/campaigns/worksheets/{{ worksheet.campaignId }}" class="action button" style="margin: 0;">See Worksheet</a>
                                            <span class="divider" style="height: 22px;"></span>
                                        </div>
                                    </li>
                                    {% for program in programs %}
                                        <li>
                                            <div class="info">
                                                <span class="program-name">{{ program.name }}</span>
                                                <span class="day-part">{{ program.dayPart }}</span>
                                                <span class="station">{{ program.station }}</span>
                                                <span class="network">{{ program.network }}</span>
                                                <span class="program">{{ program.program }}</span>
                                                <span class="times">
                                                    <span class="start-time">{{ program.timeSlotStart.format("h:i a") }}</span>
                                                    <span class="divider"></span>
                                                    <span class="endtime">{{ program.timeSlotEnd.format("h:i a") }}</span>
                                                </span>
                                                <span class="length">{{ program.spotLength }} Sec</span>
                                                <span class="rate">${{ program.spotRate }}</span>
                                            </div>
                                            <div class="actions">
                                                <a href="/campaigns/worksheets/programs/{{ worksheet.id }}/delete/{{ program.id }}" class="action button delete-button">Delete</a>
                                                <a href="/campaigns/worksheets/programs/{{ worksheet.id }}/edit/{{ program.id }}" class="action button edit">Edit</a>
                                                <span class="divider"></span>
                                            </div>
                                            <div class="comments">
                                                <h3 class="comments-title">Comments</h3>
                                                <p>{{ program.comment }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

