<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Media Manager{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/libs/foundation/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% if is_granted('ROLE_USER') %}add-padding{% endif %}">

        <div class="site-content">
            {% if is_granted('ROLE_USER') %}
                <div class="masthead" id="masthead">
                    <h1 class="masthead-title">Application Sections</h1>
                    <ul class="nav row" id="mav">
                        <li class="link-container">
                            <a href="/" class="link">Application Dashboard</a>
                        </li>
                        <li class="link-container">
                            <a href="/organizations" class="link">Manage Organizations</a>
                        </li>
                        <li class="link-container">
                            <a href="/spot-types" class="link">Manage Spot Types</a>
                        </li>
                        <li class="link-container">
                            <a href="/campaigns" class="link">Manage Campaigns</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/libs/moment/min/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('assets/libs/formatter.js/dist/jquery.formatter.min.js') }}"></script>
        <script src="{{ asset('assets/libs/jsrender/jsrender.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>
