<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Media Manager{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/libs/foundation/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body {% if is_granted('ROLE_USER') %}class="add-padding"{% endif %}>

        <div class="site-content">
            {% if is_granted('ROLE_USER') %}
                <div class="masthead" id="masthead">
                    <div class="inner">
                        <div class="masthead-title">
                            <div class="hamburger">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div> Sections
                        </div>
                        <ul class="nav row" id="mav">
                            <li class="link-container">
                                <a href="/dashboard" class="link"><i class="fa fa-dashboard"></i> Dashboard</a>
                            </li>
                            <li class="link-container">
                                <a href="/organizations" class="link"><i class="fa fa-sitemap"></i> Organizations</a>
                            </li>
                            <li class="link-container">
                                <a href="/spot-types" class="link"><i class="fa fa-television"></i> Spot Types</a>
                            </li>
                            <li class="link-container">
                                <a href="/campaigns" class="link"><i class="fa fa-flag"></i> Campaigns</a>
                            </li>
                            <li class="link-container">
                                <a href="/invoices" class="link"><i class="fa fa-money"></i> Invoices</a>
                            </li>
                            <li class="link-container"><a class="link" style="background: #FFF; cursor: default;"></a></li>
                            <li class="link-container">
                                <a href="/logout" class="link"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/libs/moment/min/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('assets/libs/formatter.js/dist/formatter.min.js') }}"></script>
        <script src="{{ asset('assets/libs/babel-polyfill/browser-polyfill.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>
