<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dollar Loan Center{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/libs/foundation/css/foundation.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/libs/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="site-content">
            <div class="masthead" id="masthead">
                <ul class="nav row" id="mav">
                    <li class="link-container">
                        <a href="/" class="link">Dashboard</a>
                    </li>
                    <li class="link-container">
                        <a href="/organizations" class="link">Manage Organizations</a>
                    </li>
                    <li class="link-container">
                        <a href="/spot-types" class="link">Manage Spot Types</a>
                    </li>
                    <li class="link-container">
                        <a href="/campaigns" class="link">Manage Campaigns</a>
                    </li>
                </ul>
            </div>

            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
        <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/libs/jsrender/jsrender.min.js') }}"></script>
        <script src="{{ asset('assets/js/app.js') }}"></script>
    </body>
</html>
