{% extends 'base.html.twig' %}

{% block title %}
    Worksheets - Media Manager
{% endblock %}

{% block body %}
    <div class="container row">
        <div class="columns large-12 medium-12 small-12">
            <div class="primary-content">
                <h1 class="content-title">Current worksheets for {{ campaign.name }}</h1>
                <div class="row">
                    <div class="columns large-12 medium-12 small-12">
                        <div class="form-wrapper">
                            <form action="/campaigns/worksheets/{{ campaign.id }}/add" method="post"
                                  class="worksheet-form" id="worksheet-form">
                                <div class="form-group row">
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="campaign_name">Worksheet Name *
                                            <input type="text" class="form-control worksheet-name"
                                                   id="worksheet-name" name="worksheet_name"/>
                                        </label>
                                    </div>
                                    <div class="columns large-6 medium-6 small-12">
                                        <label for="worksheet_spot_type">Select Spot Type *
                                            <select name="worksheet_spot_type" id="worksheet-spot-type">
                                                <option value="">Select Spot Type</option>
                                                {% for spot_type in spot_types %}
                                                    <option value="{{ spot_type.id }}">{{ spot_type.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="worksheet_region" value="{{ campaign.regionId }}"/>
                                <input type="hidden" name="worksheet_organization"
                                       value="{{ campaign.organizationId }}"/>
                                <div class="form-group row">
                                    <div class="column large-12 medium-12 small-12">
                                        <input type="submit" class="submit form-button" id="submit"
                                               value="Add New Worksheet"
                                               name="submit"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="current-worksheets">
                            {% if worksheets is empty %}
                                <p>There are currently no worksheets. Add a new one below.</p>
                            {% else %}
                                <ul>
                                    {% for worksheet in worksheets %}
                                        <li>
                                            <div class="identifier-bar">
                                                <span class="worksheet-name">{{ worksheet.name }}</span>
                                                <div class="actions">
                                                    <label>Actions: </label>
                                                    <a href="/reports/station-order/{{ campaign.id }}"
                                                       class="action" target="_blank">Station Report</a>
                                                    <a href="/campaigns/worksheets/programs/{{ worksheet.id }}"
                                                       class="action">Manage Programs</a>
                                                    <a href="/campaigns/worksheets/{{ campaign.id }}/delete/{{ worksheet.id }}"
                                                       class="action delete-button">Delete</a>
                                                    <a href="/campaigns/worksheets/{{ campaign.id }}/edit/{{ worksheet.id }}"
                                                       class="action">Edit</a>
                                                </div>
                                                <span class="divider"></span>
                                                <div class="tags">
                                                    <label>Type: </label><span
                                                            class="tag">{{ worksheet.spotType }}</span>
                                                </div>
                                            </div>
                                            <div class="week-information">
                                                <h3 class="week-title">
                                                    Weekly Spot Breakdown
                                                </h3>
                                                <h4 class="sub-title">
                                                    Length: <strong>{{ worksheet.flightLength }} Weeks</strong>
                                                    - Start Date:
                                                    <strong>{{ worksheet.flightStartDate.format("M d, Y") }}</strong>
                                                    - End Date:
                                                    <strong>{{ worksheet.flightEndDate.format("M d, Y") }}</strong>
                                                </h4>
                                                <div class="div info-inner" id="info-inner">
                                                    <div class="spot-column spot-count">
                                                        <div class="spot-count-heading">
                                                            Total Spots<br/>Running
                                                        </div>
                                                        {% for program in worksheet.programs %}
                                                            <div class="spot-date-total">
                                                                <div class="spot-info-wrapper">
                                                                    <div class="detail-wrapper">
                                                                        <span class="extra-detail">
                                                                            <strong>Station:</strong> {{ program.station }}
                                                                        </span>
                                                                        <span class="extra-detail">
                                                                            <strong>Start:</strong> {{ program.timeSlotStart.format('h:i a') }}
                                                                        </span>
                                                                        <span class="extra-detail">
                                                                            <strong>End:</strong> {{ program.timeSlotEnd.format('h:i a') }}
                                                                        </span>
                                                                        <span class="extra-detail">
                                                                            <strong>Price:</strong> {{ program.spotRate }}
                                                                        </span>
                                                                        <span class="extra-detail">
                                                                            <strong>Days:</strong> <span class="days">
                                                                            {% if program.Monday != 0 %} M {% endif %}
                                                                                {% if program.Tuesday != 0 %} T {% endif %}
                                                                                {% if program.Wednesday != 0 %} W {% endif %}
                                                                                {% if program.Thursday != 0 %} Thu {% endif %}
                                                                                {% if program.Friday != 0 %} F {% endif %}
                                                                                {% if program.Saturday != 0 %} S {% endif %}
                                                                                {% if program.Sunday != 0 %} Su {% endif %}
                                                                            </span>
                                                                        </span>
                                                                    </div>
                                                                    <strong>Total:</strong>
                                                                    <span class="total program-{{ program.id }}-total">
                                                                        0
                                                                    </span>
                                                                    <i class="fa fa-chevron-down extra-detail-expander"></i>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                        <a class="update-week-information button"
                                                           data-worksheet="{{ worksheet.id }}">
                                                            Save Data
                                                        </a>
                                                    </div>
                                                    <div class="outer-scrollable">
                                                        <div class="scrollable">
                                                            <div class="form-wrapper">
                                                                <form action=""
                                                                      class="spot-counts worksheet-counts-{{ worksheet.id }}"
                                                                      method="post">
                                                                    {% if worksheet.weekInfo != null %}
                                                                        {% for d in range(worksheet.flightStartDate|date('U'), worksheet.flightEndDate|date('U'), 86400 ) %}
                                                                            {% if d|date('D') == 'Mon' %}
                                                                                <div class="spot-column spot-date-column">
                                                                                    <div class="spot-date-heading">
                                                                                        {{ d|date('m/d D') }}
                                                                                    </div>
                                                                                    {% for program in worksheet.programs %}
                                                                                        <div class="spot-date-input">
                                                                                            {% if attribute(worksheet.weekInfo, 'date-' ~ d ~ '-' ~ program.id) is defined %}
                                                                                                <input type="text"
                                                                                                       name="date-{{ d }}-{{ program.id }}"
                                                                                                       tabindex="{{ program.id }}"
                                                                                                       class="form-control date-count date-{{ d }}-{{ program.id }}"
                                                                                                       data-program="{{ program.id }}"
                                                                                                       value="{{ attribute(worksheet.weekInfo, 'date-' ~ d ~ '-' ~ program.id) }}"/>
                                                                                            {% else %}
                                                                                                <input type="text"
                                                                                                       name="date-{{ d }}-{{ program.id }}"
                                                                                                       tabindex="{{ program.id }}"
                                                                                                       class="form-control date-count date-{{ d }}-{{ program.id }}"
                                                                                                       data-program="{{ program.id }}"/>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                    <div class="week-total">
                                                                                        Total: <span
                                                                                                class="total">0</span>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% else %}
                                                                        {% for d in range(worksheet.flightStartDate|date('U'), worksheet.flightEndDate|date('U'), 86400 ) %}
                                                                            {% if d|date('D') == 'Mon' %}
                                                                                <div class="spot-column spot-date-column">
                                                                                    <div class="spot-date-heading">
                                                                                        {{ d|date('m/d D') }}
                                                                                    </div>
                                                                                    {% for program in worksheet.programs %}
                                                                                        <div class="spot-date-input">
                                                                                            <input type="text"
                                                                                                   name="date-{{ d }}-{{ program.id }}"
                                                                                                   tabindex="{{ program.id }}"
                                                                                                   class="form-control date-count date-{{ d }}-{{ program.id }}"
                                                                                                   data-program="{{ program.id }}"/>
                                                                                        </div>
                                                                                    {% endfor %}
                                                                                    <div class="week-total">
                                                                                        Total: <span
                                                                                                class="total">0</span>
                                                                                    </div>
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

