{% extends 'base.html.twig' %}
{% block title %}
    Campaigns - Media Manager
{% endblock %}
{% block body %}
    <div class="container row campaign-edit">
        <div class="columns large-12 medium-12 small-12">
            <div class="primary-content">
                <h1 class="content-title">Editing Campaign: {{ campaign.name }}</h1>
                <div class="row">
                    <div class="columns large-12 medium-12 small-12">
                        <div class="current-campaigns">
                            <div class="form-wrapper">
                                <form action="/campaigns/add" method="post" class="campaign-form" id="campaign-form">
                                    <div class="form-group row">
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="campaign_name">Campaign Name *
                                                <input type="text" class="form-control campaign-name" id="campaign-name"
                                                       name="campaign_name" value="{{ campaign.name }}"/>
                                            </label>
                                        </div>
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="campaign_organization">Select Your Organization *
                                                <select name="campaign_organization" id="campaign-organization">
                                                    <option value="">Select Organization</option>
                                                    {% for organization in organizations %}
                                                        <option value="{{ organization.id }}" {% if campaign.organizationId == organization.id %}selected="selected"{% endif %}>{{ organization.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </label>
                                        </div>
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="campaign_region">Campaign Region *
                                                <select name="campaign_region" id="campaign-region">
                                                    <option value="">Select Organization</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="flight_start">Flight Start Date (YYYY-MM-DD) *
                                                <input type="text" class="flight-start form-control" id="flight-start"
                                                       name="flight_start" placeholder="YYYY-MM-DD"
                                                       value="{{ campaign.flightStartDate.format('Y-m-d') }}"/>
                                            </label>
                                        </div>
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="flight_end">Flight End Date (YYYY-MM-DD) *
                                                <input type="text" class="flight-end form-control" id="flight-end"
                                                       name="flight_end" placeholder="YYYY-MM-DD"
                                                       value="{{ campaign.flightEndDate.format('Y-m-d') }}"/>
                                            </label>
                                        </div>
                                        <div class="columns large-4 medium-4 small-12">
                                            <label for="flight_length">Flight Length (in weeks)
                                                <input type="text" class="flight-length form-control" id="flight-length"
                                                       name="flight_length" readonly value="{{ campaign.flightLength }} Weeks">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="column large-12 medium-12 small-12">
                                            <input type="submit" class="submit form-button" id="submit"
                                                   value="Update Campaign"
                                                   name="submit"/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

