{% extends 'base.html.twig' %}
{% block title %}
    Dashboard - Media Manager
{% endblock %}
{% block body %}
    <div class="container row">
        <div class="columns large-4 medium-4 small-12">
            <div class="sidebar">
                <div class="section">
                    <h2 class="sidebar-title">Organizations</h2>
                    <div class="actionable">
                        {% if organizations is empty %}
                            <p>There are no organizations</p>
                        {% else %}
                            <ul class="organization-list">
                                {% for organization in organizations %}
                                    <li><label data-id="{{ organization.id }}"
                                               data-name="{{ organization.name }}">{{ organization.name }} <i
                                                    class="fa fa-chevron-right"></i></label></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="section">
                    <h2 class="sidebar-title">Management</h2>
                    <ul class="sidebar-list">
                        <li><label class="dash-create-campaign-button">Create Campaign</label></li>
                        <li><label class="dash-create-organizations-button">Create Organization</label></li>
                        <li><label class="dash-create-spot-types-button">Create Spot Type</label></li>
                        <li><label>Create Region</label></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="columns large-8 medium-8 small-12">
            <div class="primary-content">
                <div class="row">
                    <div class="region-information">
                        <h1 class="content-title">
                            Available Regions
                        </h1>
                        <p class="align-center">Please select an organization.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="campaigns-overlay overlay">
        <div class="form-wrapper">
            <form action="/api/v1/campaigns/new" method="post" class="campaign-form" id="campaign-form">
                <h2 class="form-title">Create New Campaign
                    <div class="close">&times;</div>
                </h2>
                <div class="form-group row">
                    <div class="columns large-4 medium-4 small-12">
                        <label for="campaign_name">Campaign Name *
                            <input type="text" class="form-control campaign-name" id="campaign-name"
                                   name="campaign_name"/>
                        </label>
                    </div>
                    <div class="columns large-4 medium-4 small-12">
                        <label for="campaign_organization">Select Your Organization *
                            <select name="campaign_organization" id="campaign-organization">
                                <option value="">Select Organization</option>
                                {% for organization in organizations %}
                                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div class="columns large-4 medium-4 small-12">
                        <label for="campaign_region">Campaign Region *
                            <select name="campaign_region" id="campaign-region">
                                <option value="">Select Organization</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="columns large-4 medium-4 small-12">
                        <label for="flight_start">Flight Start Date *
                            <input type="text" class="flight-start form-control" id="flight-start" name="flight_start"
                                   placeholder="YYYY-MM-DD"/>
                        </label>
                    </div>
                    <div class="columns large-4 medium-4 small-12">
                        <label for="flight_end">Flight End Date *
                            <input type="text" class="flight-end form-control" id="flight-end" name="flight_end"
                                   placeholder="YYYY-MM-DD"/>
                        </label>
                    </div>
                    <div class="columns large-4 medium-4 small-12">
                        <label for="flight_length">Flight Length (in weeks)
                            <input type="text" class="flight-length form-control" id="flight-length"
                                   name="flight_length" readonly>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="column large-12 medium-12 small-12">
                        <input type="submit" class="submit form-button" id="submit" value="Add New Campaign"
                               name="submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="organizations-overlay overlay">
        <div class="form-wrapper">
            <form action="/organizations/add" method="post" class="organization-form" id="organization-form">
                <h2 class="form-title">Create New Organization
                    <div class="close">&times;</div>
                </h2>
                <div class="form-group row">
                    <div class="columns large-12 medium-12 small-12">
                        <label for="organization-name">Organization Name *
                            <input type="text" class="form-control organization-name"
                                   id="organization-name" name="organization_name"/>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="column large-12 medium-12 small-12">
                        <input type="submit" class="submit form-button" id="submit" value="Add New Organization"
                               name="submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="spot-types-overlay overlay">
        <div class="form-wrapper">
            <form action="/spot-types/add" method="post" class="spot-type-form"
                  id="spot-type-form">
                <h2 class="form-title">Create New Organization
                    <div class="close">&times;</div>
                </h2>
                <div class="form-group row">
                    <div class="columns large-12 medium-12 small-12">
                        <label for="spot_type_name">Spot Types *
                            <input type="text" class="form-control spot-type-name"
                                   id="spot-type-name" name="spot_type_name"/>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="column large-12 medium-12 small-12">
                        <input type="submit" class="submit form-button" id="submit" value="Add New Spot Type"
                               name="submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="regions-overlay overlay">
        <div class="form-wrapper">
            <form action="/regions/add" method="post" class="region-form" id="region-form">
                <label for="region-name">Region Name *
                    <input type="text" class="form-control region-name"
                           id="region-name" name="region_name"/>
                </label>
                <div class="form-group row">
                    <div class="column large-12 medium-12 small-12">
                        <input type="submit" class="submit form-button" id="submit" value="Add New Region"
                               name="submit"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

